<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing TestNG Schedule Tool tests">
    <test name="scheduleTool">
        <classes>
            <class name="scheduleTool.ScheduleTest"></class>
        </classes>
    </test>
</suite>